* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-size: fill;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background: linear-gradient(80deg, rgba(0, 0, 0, 0.5), rgb(41, 2, 38, 0.8)), url(./assets/home-bg.jpg);
}

::-webkit-scrollbar {
  width: 5px;
}
  ::-webkit-scrollbar-track {
  background: #c770f000; 
}
  ::-webkit-scrollbar-thumb {
  background:#C770F0; 
    border-radius:3px;
}
::-webkit-scrollbar-thumb:hover {
  
  background: #c770f0c3; 
} 