* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  font-family: 'Roboto', sans-serif;
  background-size: cover !important;                     
  background-repeat: no-repeat;
  background-position: center center;
  background-image: linear-gradient( 45deg,hsla(0,3%,6%,.6),rgba(12,10,22,.8)),url(./assets/home-bg.jpg);
}

::-webkit-scrollbar {
  width: 5px;
}
  ::-webkit-scrollbar-track {
  background: #c770f000; 
}
  ::-webkit-scrollbar-thumb {
  background:#C770F0; 
    border-radius:3px;
}
::-webkit-scrollbar-thumb:hover {
  
  background: #c770f0c3; 
} 